In [1]:
import pandas as pd

In [2]:
# Importing datasets
customers = pd.read_csv("Ecommerce Order Dataset/train/df_Customers.csv")
orderItems = pd.read_csv("Ecommerce Order Dataset/train/df_OrderItems.csv")
orders= pd.read_csv("Ecommerce Order Dataset/train/df_Orders.csv")
payments = pd.read_csv("Ecommerce Order Dataset/train/df_Payments.csv")
products = pd.read_csv("Ecommerce Order Dataset/train/df_Products.csv")

In [3]:
# Dataset preview
customers.head()

    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP

In [4]:
# Dataset preview
orderItems.head()

       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66

In [5]:
# Dataset preview
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18

In [6]:
# Dataset preview
payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,Axfy13Hk4PIk,1,credit_card,1,259.14
1,v6px92oS8cLG,1,credit_card,8,382.39
2,Ulpf9skrhjfm,1,credit_card,4,249.25
3,bwJVWupf2keN,1,credit_card,2,27.79
4,Dd0QnrMk9Cj5,1,credit_card,1,76.15

In [7]:
# Dataset preview
products.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
1,qejhpMGGVcsl,watches_gifts,440.0,18.0,14.0,17.0
2,qUS5d2pEAyxJ,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,639iGvMyv0De,toys,1450.0,68.0,3.0,48.0
4,1lycYGcsic2F,toys,300.0,17.0,4.0,12.0

In [8]:
# Checking nulls and duplicates
files = [customers, orderItems, orders, payments, products]
customers.attrs['name'] = "customers"
orderItems.attrs['name'] = "orderItems"
orders.attrs['name'] = "orders"
payments.attrs['name'] = "payments"
products.attrs['name'] = "products"
for file in files:
    na = file.isnull().sum()
    dup = file.duplicated().sum()
    print(f"Checking if Nulls are in dataset {file.attrs['name']}: \n", na, f"\n Checking if Duplicates are in dataset {file.attrs['name']}: \n", dup)

Checking if Nulls are in dataset customers:
 customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64
 Checking if Duplicates are in dataset customers:
 0
Checking if Nulls are in dataset orderItems:
 order_id            0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64
 Checking if Duplicates are in dataset orderItems:
 0
Checking if Nulls are in dataset orders:
 order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
dtype: int64
 Checking if Duplicates are in dataset orders:
 0
Checking if Nulls are in dataset payments:
 order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64
 Checking if Duplicates are in dataset payments:
 0
Checking if Nulls are in dataset products:
 product_id                 0
product_category_name    308
product_weight_g          15
product_length_cm         15
product_height_cm         15
product_width_cm          15
dtype: int64
 Checking if Duplicates are in dataset products:
 61865

In [9]:
# duplicates are found in products
# printing the duplicated rows
products[products.duplicated(keep=False)]

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
1,qejhpMGGVcsl,watches_gifts,440.0,18.0,14.0,17.0
2,qUS5d2pEAyxJ,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,639iGvMyv0De,toys,1450.0,68.0,3.0,48.0
4,1lycYGcsic2F,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...
89309,HMryprA6nfPG,bed_bath_table,1650.0,46.0,3.0,34.0
89310,K1LKw6GfKN4j,toys,500.0,16.0,21.0,18.0
89312,KXSbyJWtMMwZ,toys,600.0,16.0,16.0,16.0
89313,EG4wDSpFyTth,health_beauty,250.0,22.0,10.0,18.0
89314,ZWyg4uNWPHjJ,toys,250.0,16.0,2.0,11.0

In [10]:
# Getting a closer look to a specific product
products[products["product_id"]=="90K0C1fIyQUf"]

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
10982,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
11444,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
14974,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
31304,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
38755,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
75424,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
79636,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
83962,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
85441,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
87701,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
87995,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
89131,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0

In [11]:
# Removing the deplicates
products_noDuplicates = products.drop_duplicates()

In [12]:
# Checking dataset products after cleaning
products_noDuplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27451 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             27451 non-null  object
 1   product_category_name  27310 non-null  object
 2   product_weight_g       27449 non-null  float64
 3   product_length_cm      27449 non-null  float64
 4   product_height_cm      27449 non-null  float64
 5   product_width_cm       27449 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.5+ MB

In [13]:
# Converting date column to datatime for analysis
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])
orders["order_approved_at"] = pd.to_datetime(orders["order_approved_at"])
orders["order_delivered_timestamp"] = pd.to_datetime(orders["order_delivered_timestamp"])
orders["order_estimated_delivery_date"] = pd.to_datetime(orders["order_estimated_delivery_date"])

In [ ]:
# Checking if the dates are valid according to business logics
#   -order purchase time should be later than approval time
orders[orders["order_purchase_timestamp"] > orders["order_approved_at"]]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_timestamp, order_estimated_delivery_date]
Index: []

In [ ]:
# Checking if the dates are valid according to business logics
#   -order purchase time should be later than actual delivery time
orders[orders["order_purchase_timestamp"] > orders["order_delivered_timestamp"]]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_timestamp, order_estimated_delivery_date]
Index: []

In [ ]:
# Checking if the dates are valid according to business logics
#   -order purchase time should be later than estimated delivery time
orders[orders["order_purchase_timestamp"] > orders["order_estimated_delivery_date"]]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_timestamp, order_estimated_delivery_date]
Index: []

In [17]:
# Feature engineering
# Creating column of actual delivery days
orders["actual_delivery_days"] = (orders['order_delivered_timestamp'] - orders["order_purchase_timestamp"]).dt.days

In [18]:
# Feature engineering
# Creating column of estimated delivery days
orders["expected_delivery_days"] = (orders['order_estimated_delivery_date'] - orders["order_purchase_timestamp"]).dt.days

In [19]:
# Feature engineering
# labelling order which actual delivery time is later than estimated delivery time
orders["is_late"] = orders["order_delivered_timestamp"] > orders["order_estimated_delivery_date"]

In [20]:
orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,actual_delivery_days,expected_delivery_days,is_late
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,4.0,17,False
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,13.0,33,False
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,10.0,19,False
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,9.0,31,False
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,14.0,26,False

In [21]:
products_noDuplicates.to_csv('Ecommerce Order Dataset/train/df_Products1.csv', index=False)
orders.to_csv('Ecommerce Order Dataset/train/df_Orders1.csv', index=False)